---
layout: default
title: Home
---
<div class="memoirs-home">
    <div class="memoirs-grid">
        {% for post in site.posts %}
            <div class="memoirs-card">
                {% if post.coverImage %}
                    <a href="{{ post.url | relative_url }}">
                        <img src="{{ post.coverImage }}" alt="{{ post.title }}" class="memoirs-image">
                    </a>
                {% endif %}
                <div class="memoirs-content">
                    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                    <span class="memoirs-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                    <p class="memoirs-excerpt">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>