<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="newspaper-masthead" style="margin-top: 20px;">
        <h1 class="newspaper-title">
            <a href="{{ '/' | relative_url }}" class="masthead-link">
            
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo" class="masthead-logo">
            
                    The Sudovid Times
            </a>
        </h1>
    <div class="newspaper-date">{{ site.time | date: "%A, %B %d, %Y" }}</div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>